<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Feedbacks by volunteers</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container-btns">
      <div class="mainContainer">
        <mat-spinner *ngIf="isLoadingResults" [diameter]="50"></mat-spinner>
        <div *ngIf="!isLoadingResults" class="table-container">
          <table mat-table [dataSource]="feedbacks">
            <ng-container matColumnDef="message">
              <th
                class="sortable"
                (click)="customSort('message')"
                mat-header-cell
                *matHeaderCellDef
              >
                Feedback
                <mat-icon
                  *ngIf="
                    sortConfig.column === 'message' && sortConfig.type === 'asc'
                  "
                  >arrow_downward</mat-icon
                >
                <mat-icon
                  *ngIf="
                    sortConfig.column === 'message' &&
                    sortConfig.type === 'desc'
                  "
                  >arrow_upward</mat-icon
                >
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.message }}
              </td>
            </ng-container>

            <ng-container matColumnDef="volunteer">
              <th
                class="sortable"
                (click)="customSort('volunteer')"
                mat-header-cell
                *matHeaderCellDef
              >
                Volunteer
                <mat-icon
                  *ngIf="
                    sortConfig.column === 'volunteer' &&
                    sortConfig.type === 'asc'
                  "
                  >arrow_downward</mat-icon
                >
                <mat-icon
                  *ngIf="
                    sortConfig.column === 'volunteer' &&
                    sortConfig.type === 'desc'
                  "
                  >arrow_upward</mat-icon
                >
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.volunteer }}
              </td>
            </ng-container>

            <ng-container matColumnDef="sentiment">
              <th
                class="sortable"
                (click)="customSort('sentiment')"
                mat-header-cell
                *matHeaderCellDef
              >
                Sentiment
                <mat-icon
                  *ngIf="
                    sortConfig.column === 'sentiment' &&
                    sortConfig.type === 'asc'
                  "
                  >arrow_downward</mat-icon
                >
                <mat-icon
                  *ngIf="
                    sortConfig.column === 'sentiment' &&
                    sortConfig.type === 'desc'
                  "
                  >arrow_upward</mat-icon
                >
              </th>
              <td mat-cell *matCellDef="let row">
                {{ row.sentiment }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
