<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="container-btns">
      <div class="addBtn">
        <button (click)="addStudent()" mat-raised-button color="primary">
          Add a Student
        </button>
      </div>

      <div *ngIf="data.length == 0 && !isLoadingResults">
        <div>
          <p id="no-results">No students found !</p>
        </div>
      </div>

      <div class="main-container mat-elevation-z8">
        <div class="loading-shade" *ngIf="isLoadingResults || errorOccured">
          <mat-spinner *ngIf="isLoadingResults" [diameter]="30"></mat-spinner>
          <div class="errorOccured" *ngIf="errorOccured">
            Some error occured ...
          </div>
        </div>

        <div *ngIf="data.length > 0" class="table-container">
          <table mat-table [dataSource]="data" class="table">
            <ng-container matColumnDef="S-No">
              <th mat-header-cell *matHeaderCellDef>S NO</th>
              <td mat-cell *matCellDef="let row">
                {{ row.sno }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Roll Number">
              <th mat-header-cell *matHeaderCellDef>Roll Number</th>
              <td mat-cell *matCellDef="let row">
                {{ row.rollno }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Student-Name">
              <th mat-header-cell *matHeaderCellDef>Student-Name</th>
              <td mat-cell *matCellDef="let row">
                {{ row.name }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              [matMenuTriggerFor]="menu"
              #menuTrigger
              class="goToExam"
              mat-row
              *matRowDef="let row; columns: displayedColumns"
            >
              <mat-menu #menu="matMenu">
                <button class="menu-item" mat-menu-item (click)="details(row)">
                  View/Edit
                </button>
              </mat-menu>
            </tr>
          </table>
        </div>

        <mat-paginator
          *ngIf="data.length > 0"
          [length]="resultsLength"
          [pageSize]="20"
          aria-label="Select page of exam results"
        ></mat-paginator>
      </div>
    </div>
  </div>
</div>
